<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
         .fontchange {
            font-family: 'Montserrat';
            color: #0B4251;
            font-weight: 700;
        }
        .colorchange {
            font-family: 'Montserrat';
            color: #0B4251;
        }
    </style>
</head>
<body class="bg-gray-200">
    <nav class="flex px-10 justify-between py-5">
        <h2 class="text-4xl fontchange tracking-tight">PlankaRO</h2>
        <div class="navlinks colorchange flex gap-5">
            <a class="tracking-tight" href="/">Home</a>
        </div>
    </nav>
    <div class="flex items-center justify-center min-h-screen" >
    <div class="text-center">
        <h1 class="text-4xl  fontchange mb-2">Thank you for Choosing us.</h1>
        <p class="colorchange">We will Contact you soon.</p>
    </div>
</div>
</body>
</html>
